.answers{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.blog-container > h1{
    font-size: 3rem;
    color: rgb(142, 61, 176);
}
.answer{
    width: 350px;
    text-align: justify;
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 15px;
}




.answer img{
    width: 100%;
}
@media only screen and (max-width: 1465px) {
    .answers{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 979px) {
    .answers{
        grid-template-columns: repeat(1, 1fr);
    }
}