.not-found-container img{
    width: 600px;
}
.not-found-container h1{
    color: rgb(142, 61, 176);
}
@media only screen and (max-width: 650px) {
    .not-found-container img{
        width: 500px;
    }
}
@media only screen and (max-width: 500px) {
    .not-found-container img{
        width: 400px;
    }
}